
.project-color{
    color: white;
    background-color: #41A4F5;
}

.project-section {
  padding: 30px 20px;
  max-width: 3000px;
  margin: auto;
}

.project-header{
  font-size: 32px;
  font-weight: bold;
  font-family: "Roboto";

}

.projects-section {
  padding: 50px 20px;
  background: #f8fafc;
}

.projects-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.projects-title span {
  color: #007bff;
}

.projects-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 25px;
  background-color: #f5f5f5;
}

.project-card {
  background: white;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 18px rgba(0,0,0,0.12);
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.project-card p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tech-stack span {
  display: inline-block;
  background: #eef4ff;
  padding: 5px 10px;
  margin: 4px;
  border-radius: 6px;
  font-size: 14px;
  color: #0056d6;
}
