.about-color{
    background-color: #41A4F5;;
}

.about-section {
  padding: 30px 20px;
  max-width: 3000px;
  margin: auto;
}

.about-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  object-fit: fill;
  border: 1px solid white;
}

.about-text {
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  
}

.about-text p {
  margin-bottom: 15px;
}

.myname{
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.button-hire{
    height: 40px;
    width: 100px;
    background-color: #00000033;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
}

.button-hire:focus {
  outline: none !important;
  box-shadow: none !important;
}
