
.resume-color{
    color: white;
    background-color: #41A4F5;
}

.resume-section {
  padding: 30px 20px;
  max-width: 3000px;
  margin: auto;
}

.resume-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.resume-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.resume-desc {
  font-size: 16px;
  color: #666;
  margin-bottom: 25px;
}

.resume-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  font-size: 16px;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.view-btn {
  background: rgb(44, 134, 237);
  color: white;
}

.download-btn {
  background: rgb(31, 172, 88);
  color: white;
}

.resume-preview {
  margin-top: 30px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.resume-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
