
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 30px;
  background: #79b5f4;
  border-bottom: 1px solid #eee;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

.nav-links li {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 5px;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #0078ff;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}